#home{
  .button{margin-top:1rem;}
  background-color:black;
  color: $white;
  section{ padding-bottom:1rem;}
  .content{  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  }
  .hero{
  height:100vh;   position: relative;
  margin-top:-3rem;
  p{font-size:$h1-font-size;}
  background-image: url('../img/mobile/hero.jpg');
  background-size: cover;
      overflow: hidden;
  }
  .how{
    padding-bottom:8rem;
    overflow-x: hidden;
    h2{padding:3rem 0;}
    background-color: $white;
    color:$black;
    ul li{
      margin-bottom:1rem;
    }
    img{ height:450px; width:600px;  max-width: none;}
//     .ayudarte{
//       position:relative;
//       z-index: 9999;
// overflow: visible;
//   background-image: url('../img/mobile/imac.png');
//   background-size: 150%;
//   background-repeat:no-repeat;
//     }
  }
  .empresas{
    padding:2rem 0 5rem 0;
    background-color:$light-gray;
    color:$black;
    img{margin-top:3rem}
  }
  .why{
    height:auto;
    padding-top:2rem;
    padding-bottom: 0;
    background-color:$secondary-color;
    img{border-radius:50%; height:300px; width:300px; margin:1rem 0 0 2rem;}
    .clientes{
      margin-top:3rem;
      padding:1rem 0;
      background-color: $medium-gray;
      color:$black;
    }
  }
  .next{
    padding-top:15%;
    background-image: url('../img/mobile/next.jpg');
    background-size: cover;
        overflow: hidden;
      height:90vh;   position: relative;
  }
}
